server {
  listen $HOST_PORT;
  server_name $HOST_IP;
  access_log /var/log/nginx/wechat_miniprogram_access.log logstash_json buffer=32K;

  location / {
    proxy_pass http://$SERVER_HOST:$SERVER_PORT;
  }
}